<div class="main-container out-margin full-body">
  <div class="row">
    <div class="col-auto mr-autocol"></div>
    <div class="search-col col-md-2" data-test="recommendations-search">
      <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight
          [result]="r.name"
          [term]="t"
          (click)="populateMovies()"
        ></ngb-highlight>
      </ng-template>

      <label for="typeahead-template">Search recommendations:</label>
      <input
        id="typeahead-template"
        type="text"
        class="form-control"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        [resultTemplate]="rt"
        [inputFormatter]="formatter"
        placeholder="Search by genre..."
        (keyup.enter)="populateMovies()"
      />
    </div>
    <div *ngIf="movies.length > 0" class="col-md-9 top10 animated fadeIn">
      <h1 class="title text-capitalize">{{ model.name }}</h1>
      <hr />
      <div class="container animated fadeIn">
        <div class="row" data-test="movies-container">
          <div
            *ngFor="let movie of movies"
            class="col-md-3 text-center pointer movies"
            [routerLink]="['/movie', movie.id]"
          >
            <img [src]="movie | imagePipe" class="img-thumbnail" />
            <div class="image-caption bg-dark centered card-body">
              {{ movie.original_title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
