.movie-title {
  font-family: 'Baloo Bhai', cursive;
  text-align: center;
  font-size: 70px;
}

.title {
  font-family: 'Baloo Bhai', cursive;
  font-size: 50px;
}

.subtitle {
  font-family: 'Baloo Bhai', cursive;
  font-size: 25px;
}

.overview,
.genres {
  font-family: 'Montserrat', sans-serif;
}

.runtime {
  text-align: right;
}

.tagline {
  text-align: right;
  font-family: cursive;
}

.btn-secondary {
  margin-right: 5px;
  margin-bottom: 5px;
}
